{
  "presets": [
    [
      "env",
      {
        "corejs": 3,
        "targets": "> 0.25%, not dead",
        "useBuiltIns": "entry"
      }
    ],
    "react"
  ],
  "plugins": ["add-react-displayname"]
}
